body {
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
}

body, ul {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  background-color: #ffffff;
}

cursor {
   url('logo.cur'), auto;
 }

div {
    cursor:url('Logo.cur'),auto;
}

h1, h2, h3 {
  font-family: 'Syne', sans-serif;
  font-weight: 800;
padding: 0px 0px 0px 0px;
}

h1 {
  font-size: 50px;
  line-height: 120%;
  color: #000e17;
}

h2 {
  font-size: 40px;
  line-height: 120%;
  }

h3 {
  font-size: 20px;
  line-height: 120%;
}

img {
  max-width: 100%;
}

div {
   cursor: url(logo.cur), pointer;
}

nav {
    background-color: #ffffff;
    position: fixed;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 0px 0px;s
}

nav li a {
  text-decoration: none;
  color: black;
}

nav li a:hover {
  text-decoration: underline;
}

nav ul li {
  display: inline-block;
  margin: 0 25px; /*0 refers to top and bottom, 15 pixels to left and right*/
  padding: 0px;
  letter-spacing: 1px;
  font-size: 14px;
}

nav ul {
  margin: 0 auto;
  padding: 30px;
}

.nav-left {
    float: left;
}

.nav-right ul {
    float: right;
}

a {
  color: black;
  text-decoration: none;
  margin-left: 10px;
}

a:hover {
  text-decoration: underline;
}

header {
    top: 150px;
    position: relative;
    margin-bottom: 200px;
    z-index: 1px;
}

ul li {
  list-style: none;
  margin: 10px 0px;
}

p {
  line-height: 150%;
}

li.empty {
  width: 90px;
  border-top: 1px solid black;
  top: -10px;
  position: relative;
}

.button {
  border: 1px solid black;
  text-decoration: none;
  color: black;
  padding: 15px 20px;
  margin-top: 15px;
  display: inline-block;
  border-radius: 45%;
  transition: background 0.25s ease-in-out; color ease-in-out;
}

.button:hover {
  background: yellow;
  color: black;
}

.project {
  margin: 50px 0;
  padding: 50px;
}

.project .button {
  font-family: 'Helvetica', sans-serif;
  margin-top: 10px;
}

        .collapsible {
          font-family: 'Syne', sans-serif;
          font-weight: 800;
          text-transform: uppercase;
          padding: 30px 0px 30px 0px;
          color: black;
          font-size: 25px;
          font-weight: bold, 800px;
          border: none;
          background-color: #ffffff;
        }


        .active, .collapsible:hover {
            background: #ffffff;
            color: black;
            text-decoration: underline;
        }

        .content {
          padding: 0px 0px;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.2s ease-out;
          background-color: #ffffff;
        }

.container-body {
  display: flex;
  flex-direction: row;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}


}
.control ul {
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%);
}
.control ul li {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin: 10px;
  cursor: pointer;
}
.control ul li.selected {
  background: transparent;
}

footer {
  width: 100%;
  border-top: 1px solid black;
  z-index: 1;
}

footer ul li {
  display: inline-block;
  margin: 30px 30px; /*0 refers to top and bottom, 15 pixels to left and right*/
  padding: 0;
  letter-spacing: 1px;
  font-size: 14px;
}

footer h2 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

figcaption {
  font-size: 12px;
  margin-top: 10px;
}

.skills-list {
  font-family: 'Syne', sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: 40px;
  line-height: 150%;
  margin-bottom: 100px;
}
